<div id="about-container" class="card container">

  <!--Card image-->
  <img class="img-fluid" src="../../assets/justin.png" alt="JustinCast">

  <!--Card content-->
  <div class="card-body">
      <!--Title-->
      <!--Text-->
      <p class="card-text">
        Justin A. Castillo V. <br>
        Web & Mobile Developer <br>
        Computer Engineer
      </p>
      <div id="btn-container">
        <button class="btn btn-elegant btn-sm waves-light" mdbRippleRadius>Contact me</button>
        <a href="https://github.com/JustinCast" id="credentials-btn" class="btn btn-sm"><span>Credentials</span></a>
      </div>
  </div>

</div>
