
<!--Subscription Form-->
<form class="container card">
    <p class="h1 text-center">Weather</p>
    <div class="container card fetching">
      <p class="h6 text-center mb-4">Fetching Weather data...</p>
      <mat-progress-bar
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="value"
            [bufferValue]="bufferValue">
        </mat-progress-bar>
    </div>
    <div style="margin-top: 3%" class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="form3" class="form-control" mdbActive>
        <label for="form3">Your name</label>
    </div>

    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="form2" class="form-control" mdbActive>
        <label for="form2">Your email</label>
    </div>

    <div class="text-center">
        <button class="btn btn-indigo waves-light" mdbRippleRadius>Send <i class="fa fa-paper-plane-o ml-1"></i></button>
    </div>

</form>
<!--Subscription Form-->