form {
    border: white 4px;
    background-color: white
}
p:nth-child(1) {
    color:black;
    margin-top: 1%
}
p:nth-child(2){
    color: black
}
.fetching {
    border-radius: 5px;
    padding-bottom: 1%;
}