<h1>Prediction Zone</h1>

<ul class="container">
  <li class="card">
    <!--Card content-->
    <div class="card-body card-paragraph">
        <!--Title-->
        <h4 class="card-title">Weather</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary waves-light btn-sm" mdbRippleRadius>Start</button>
    </div>
  </li>
  <li class="card predictive-card">
    <!--Card content-->
    <div class="card-body card-paragraph">
        <!--Title-->
        <h4 class="card-title">Study Grades</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary waves-light btn-sm" mdbRippleRadius>Start</button>
    </div>
  </li>
  <li class="card predictive-card">
    <!--Card content-->
    <div class="card-body card-paragraph">
        <!--Title-->
        <h4 class="card-title">Sports</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary waves-light btn-sm" mdbRippleRadius>Start</button>
    </div>
  </li>
  <li class="card predictive-card">
    <!--Card content-->
    <div class="card-body card-paragraph">
        <!--Title-->
        <h4 class="card-title">Situations</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary waves-light btn-sm" mdbRippleRadius>Start</button>
    </div>
  </li>
  <li class="card predictive-card">
    <!--Card content-->
    <div class="card-body card-paragraph">
        <!--Title-->
        <h4 class="card-title">Probabilities</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary waves-light btn-sm" mdbRippleRadius>Start</button>
    </div>
  </li>
  <li class="card predictive-card">
    <!--Card content-->
    <div class="card-body card-paragraph">
        <!--Title-->
        <h4 class="card-title">Love Accuracy</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary waves-light btn-sm" mdbRippleRadius>Start</button>
    </div>
  </li>
  <li class="card predictive-card">
    <!--Card content-->
    <div class="card-body card-paragraph">
        <!--Title-->
        <h4 class="card-title">Be a Millionaire</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary waves-light btn-sm" mdbRippleRadius>Start</button>
    </div>
  </li>
  <li class="card predictive-card">
    <!--Card content-->
    <div class="card-body card-paragraph">
        <!--Title-->
        <h4 class="card-title">Custom</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary waves-light btn-sm" mdbRippleRadius>Start</button>
    </div>
  </li>
</ul>