<div id="main-home-div">
  <p id="title">Predictive</p>
  <p id="slogan">What will happen?</p>
</div>

<div id="get-started-container">
  <button class="btn btn-primary btn-sm" [routerLink]="['/predict']">Get Started</button>
</div>

<div id="description-cointainer" class="cointainer">
  <p><i>Predictive</i> is a Software platfrom that help you to know what is possible to happen
  based in paramaters!</p>
</div>

<!--Footer-->
<footer class="page-footer black center-on-small-only">
  
  <div class="footer-copyright">
      <div class="container-fluid">
          Justin Castillo -
          <small>Web & Mobile Developer </small> | 
          © 2017 Copyright: <a href="https://github.com/JustinCast"> Github </a>
      </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->